@use '../abstracts/' as *;

.app-error {
  @include flexbox($justifyContent: center, $alignItems: center, $direction: column);
  min-height: 75vh;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;

  .app-error__message {
    p {
      text-transform: uppercase;
      word-break: break-word;
    }
  }
}

.error {
  text-align: center;
}
