@use '../abstracts' as *;

.header {
  @include flexbox($justifyContent: space-between, $alignItems: center);

  h1 {
    margin: 2rem 0;
    font-size: $header-resize;
  }

  .MuiIconButton-root {
    margin: 0 0 0 0.5rem;

    .MuiSvgIcon-root {
      font-size: $small-icon-size;
    }
  }
}
