@use '../abstracts' as *;

.header {
  @include flexbox($justifyContent: space-between, $alignItems: center);
  @include respond(mobile) {
    justify-content: center;
  }

  h1 {
    margin: 2rem 0;
    font-size: $header-resize;

    @include respond(mobile) {
      font-size: $header-mobile;
    }
  }

  .MuiIconButton-root {
    margin: 0 0 0 0.5rem;

    .MuiSvgIcon-root {
      font-size: $small-icon;
    }
  }

  .header__buttons {
    @include respond(mobile) {
      display: none;
    }
  }
}
