@use '../abstracts/' as *;

.app-loading {
  @include flexbox($justifyContent: center, $alignItems: center, $direction: column);
  min-height: 75vh;
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  .MuiCircularProgress-root {
    color: $white;
    height: 1em !important;
    width: 1em !important;
  }

  .app-loading__message {
    span {
      display: inline-block;
      margin: 0 -0.05em;
      animation: loadingAnim 0.7s infinite alternate;
      @for $i from 1 through 6 {
        &:nth-child(#{$i + 1}) {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }
  }
}

.loading {
  text-align: center;
}

@keyframes loadingAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
