@use '../abstracts' as *;

.notes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  margin: 0 0 2rem 0;
  min-width: $desktop-width;
  max-width: $desktop-width;

  @include respond(laptop) {
    grid-template-columns: auto auto auto;
    min-width: $laptop-width;
    max-width: $laptop-width;
  }

  @include respond(tablet) {
    grid-template-columns: auto auto;
    min-width: $tablet-width;
    max-width: unset;
  }

  @include respond(mobile) {
    grid-template-columns: auto;
    min-width: unset;
  }

  .note {
    @include flexbox($justifyContent: space-between, $direction: column);
    font-family: $font-family;
    font-size: $standard;
    font-weight: 500;
    min-width: 120px;
    min-height: 120px;
    color: $black;
    background-color: $note-yellow;
    border-radius: 10px;
    padding: 24px;
    white-space: pre-wrap;

    @include respond(tablet) {
      min-width: unset;
      span {
        max-width: 208px;
      }
    }

    @include respond(mobile) {
      max-width: 100%;
      min-width: unset;

      span {
        max-width: 263.5px;
      }
    }

    textarea {
      font-size: $standard;
      font-family: $font-family;
      font-weight: 500;
      border: none;
      resize: none;
      background-color: $primary;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $white;
        opacity: 0.75;
      }
    }

    &__footer {
      @include flexbox($justifyContent: space-between, $alignItems: center);

      .MuiButtonBase-root {
        margin: 0 0 0 2rem;
      }
      .MuiIconButton-root {
        color: $black;

        &:hover {
          background-color: $hover-black;
        }

        .MuiTouchRipple-child {
          background-color: $ripple-black;
        }
      }
    }

    &--loading {
      justify-content: center;
    }

    &--new {
      min-width: 260px;
      background-color: $primary;

      @include respond(laptop) {
        min-width: unset;
      }
    }

    small {
      color: $black;
      font-size: $standard;
    }
  }
}

.notes-header {
  margin-top: 0;
  font-size: $standard-resize;
}
