@use '../abstracts' as *;

.overview-panels {
  margin: 0 0 5.5rem;

  @include respond(mobile) {
    max-width: $panel-mobile-width;
  }

  .tab-panel {
    padding: 24px;
    background-color: $background;
    background-image: $background-image;
    border-radius: 0 0 4px 4px;
    font-size: $standard;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    max-height: 635px;
  }

  .upcoming-payments,
  .monthly-bills {
    h4 {
      margin: 0.5rem 0;
    }

    .total,
    .transaction,
    .payment,
    .bill {
      @include flexbox($justifyContent: space-between, $alignItems: center);

      h3 {
        margin: 0.25rem 0 0;
        font-size: $totals-footer;
      }

      h5 {
        margin: 0;
        font-size: $standard;
        font-weight: 500;
      }

      p {
        color: $white;
        margin: 0;
        margin-left: 20px;
        font-size: $standard;
        font-weight: 500;
      }

      .negative {
        color: $action;
      }
    }

    .MuiDivider-root {
      margin: 0.5rem 0;
    }
  }
}
