@use '../abstracts' as *;

.overview-panels {
  max-width: $panel-desktop-width;
  margin-bottom: 32px;

  @include respond(laptop) {
    max-width: $panel-laptop-width;
  }

  @include respond(tablet) {
    max-width: $panel-tablet-width;
  }

  @include respond(mobile) {
    margin-bottom: 88px;
    max-width: $panel-mobile-width;
  }

  //overwrites inline react-slick height styling
  .slick-list {
    height: auto !important;
  }

  .tab-panel {
    display: block !important; //overwrite inline react-slick style
    width: auto !important; //overwrite inline react-slick style
    padding: 24px;
    font-size: $standard;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    max-height: 630px;
    overflow-y: auto;
  }

  .upcoming-payments,
  .monthly-bills {
    .total,
    .payment,
    .bill {
      @include flexbox($justifyContent: space-between, $alignItems: center);

      h3 {
        margin: 0.25rem 0 0;
        font-size: $totals-footer;
        cursor: default;
      }

      h5 {
        margin: 0;
        font-size: $standard;
        font-weight: 500;
      }

      p {
        color: $white;
        margin: 0;
        margin-left: 20px;
        font-size: $standard;
        font-weight: 500;
        cursor: default;
      }

      .negative {
        color: $action;
      }
    }

    .bill,
    .payment {
      h5 {
        &:hover {
          cursor: pointer;
          background: #303030;
          transform: scale(1.05);
          padding: 0 5px;
          border-radius: 8px;
        }
      }
    }

    .MuiDivider-root {
      margin: 0.5rem 0;
    }
  }
}
