@use '../abstracts' as *;

.totals {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  margin: 0 0 2rem 0;

  @include respond(laptop) {
    grid-template-columns: auto auto auto;
  }

  @include respond(tablet) {
    grid-template-columns: auto auto;
  }

  @include respond(mobile) {
    grid-template-columns: auto;
  }

  .MuiCard-root {
    min-width: $total-cards-width;
    max-width: $total-cards-width;
    min-height: 120px;
    max-height: 120px;

    .MuiCardContent-root {
      @include flexbox($justifyContent: space-between, $alignItems: center);
      padding: 24px;

      .MuiTypography-h4,
      .MuiTypography-body1 {
        font-weight: bold;
      }

      .MuiSvgIcon-root {
        font-size: 3.75em;
      }

      .MuiSvgIcon-colorAction {
        color: $action;
      }

      .negative {
        color: $secondary;
      }
    }

    @include respond(mobile) {
      min-width: unset;
      max-width: $totals-mobile-width;
    }
  }

  .payments-due-total-card,
  .monthly-bills-total-card {
    .MuiCard-root .MuiCardContent-root .negative {
      color: $secondary;
    }
  }

  .loading-total-card {
    .MuiCard-root {
      @include flexbox($justifyContent: center, $alignItems: center);
    }
  }
}
