@use '../abstracts' as *;

.totals {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  gap: 2rem;

  .MuiCard-root {
    min-height: 120px;
    max-height: 120px;

    .MuiCardContent-root {
      @include flexbox($justifyContent: space-between, $alignItems: center);
      padding: 24px;

      .MuiTypography-h4,
      .MuiTypography-body1 {
        font-weight: bold;
      }

      .MuiSvgIcon-root {
        font-size: 3.75em;
      }

      .MuiSvgIcon-colorAction {
        color: $action;
      }

      .negative {
        color: $secondary;
      }
    }
  }

  .payments-due-total-card,
  .monthly-bills-total-card {
    .MuiCard-root .MuiCardContent-root .negative {
      color: $action;
    }
  }

  .loading-total-card {
    .MuiCard-root {
      @include flexbox($justifyContent: center, $alignItems: center);
    }
  }
}
