$ghost-white: #ffffffe6;
$ghost-white-hover-border: #ffffff80;
$ghost-white-hover-text: #ffffffbf;
$ghost-white-disabled-text: #ffffff4d;
$hover-black: rgba(0, 0, 0, 0.23);
$ripple-black: rgba(0, 0, 0, 0.75);
$primary: #2196f3;
$background: #121212;
$background-light: #383838;
$yellow-light: #fff176;
$table-border: #515151;
$light-border: #ffffff1f;
