$base-font-size: calc(10px + 2vmin);
$header-resize: 1.5em;
$header-mobile: 1.9em;
$standard: 1rem;
$standard-resize: 1em;
$table-header: 1.1rem;
$totals-footer: 1.13rem;
$icon-size: 50px;
$small-icon: 30px;
$bottom-nav-icon: 1.25em;
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
