@use '../abstracts' as *;

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($mobile-width, 370px));
  gap: 2rem;
  margin-bottom: 32px;
  min-width: $desktop-width;
  max-width: $desktop-width;
  justify-content: center;

  @include respond(laptop) {
    min-width: $laptop-width;
    max-width: $laptop-width;
  }

  @include respond(tablet) {
    min-width: $tablet-width;
    max-width: unset;
  }

  @include respond(mobile) {
    min-width: unset;
    margin-bottom: 88px;
  }
}

.notes-header {
  margin: 0 0 2rem 0;
  font-size: $standard-resize;
}
