$white: #fff;
$black: #000;
$hover-black: rgba(0, 0, 0, 0.23);
$ripple-black: rgba(0, 0, 0, 0.75);
$primary: #3f51b5;
$secondary: #f50057;
$action: #4caf50;
$background: #424242;
$note-yellow: #fef68a;
