$white: #fff;
$ghost-white: #ffffffe6;
$ghost-white-hover-border: #ffffff80;
$ghost-white-hover-text: #ffffffbf;
$ghost-white-disabled-border: #ffffff1f;
$ghost-white-disabled-text: #ffffff4d;
$black: #000;
$hover-black: rgba(0, 0, 0, 0.23);
$ripple-black: rgba(0, 0, 0, 0.75);
$primary: #2196f3;
$primary-light: #4fc3f7;
$secondary: #e91e63;
$action: #4caf50;
$background: #121212;
$background-light: #383838;
$background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
$yellow-light: #fff176;
