$desktop-width: 1196px;
$laptop-width: 889px;
$tablet-width: 582px;
$alert-text-mobile-width: 162px;
$note-span-mobile-width: 264px;
$note-span-width: 208px;
$new-note-min-width: 260px;
$total-cards-width: 275px;
$login-register-width: 600px;
$mobile-width: 312px;
$panel-desktop-width: $desktop-width;
$panel-laptop-width: $laptop-width;
$panel-tablet-width: $tablet-width;
$panel-mobile-width: $mobile-width;
$totals-mobile-width: $mobile-width;
$forecast-table-mobile-width: $mobile-width;
$login-register-mobile-width: $mobile-width;
