$desktop-width: 1196px;
$laptop-width: 889px;
$tablet-width: 582px;
$alert-text-mobile-width: 162px;
$note-span-mobile-width: 264px;
$note-span-width: 208px;
$new-note-min-width: 260px;
$total-cards-width: 275px;
$mobile-widths: 312px;
$panel-mobile-width: $mobile-widths;
$totals-mobile-width: $mobile-widths;
