.page {
  @import '../components/Header/header';

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1250px;

    /* LOADING AND ERRORS */
    .loading,
    .error {
      text-align: center;
    }

    @import '../components/Overview/Panels/panels';
    @import '../components/Overview/Totals/totals';
    @import '../components/Notes/notes';
  }
}
