/* VARIABLES */
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$desktop-width: 1196px;
$laptop-width: 889px;
$tablet-width: 582px;
$laptop-breakpoint: 1250px;
$tablet-breakpoint: 920px;
$mobile-breakpoint: 620px;

/*BASE APP STYLES */
.app {
  text-align: left;
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 0 1rem;
}

/* COMPONENT STYLES */
@import './components/homepage';
@import './components/Popups/popups';

/* CHROME AUTOCOMPLETE FIX */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #424242 inset !important;
  box-shadow: 0 0 0 30px #424242 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}
